/*https://www.w3schools.com/howto/howto_css_disable_text_selection.asp#:~:text=You%20can%20use%20the%20user,be%20used%20to%20prevent%20this.*/
#main{
    display: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#createInternet{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#createInternet button{
    text-align: center;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
}


#main {
    display: flex;
    justify-content: space-between;
    margin: 10%;
    margin-top: 5%;
}

#main div{
    margin: 5px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.inter {
    display: none;
    border: 1px solid #000;
    padding: 10px;
}

#internet{
    position: relative;
    height: 400px;
    overflow: hidden;
}

.gif{
    -webkit-filter: brightness(140%); 
    -webkit-filter: contrast(100%); 
    -webkit-filter: blur(.5px); 
    filter: saturate(1);
    filter: invert(.7);
}

.spiral{
    -webkit-filter: unset;
    filter: unset;
    z-index: 30;
}

#commandDiv{
    height: 555px;
    overflow-x: auto;
    overflow-y: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#output{
    height: 100px;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
